<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% include 'header-import.html.twig' %}
        {% block head %}{% endblock %}
    </head>
    <body class="{% block bodyClass %}dashboard{% endblock %}">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
            {#% include 'menu/header_admin.html.twig' %#}
        {% elseif is_granted('ROLE_USER') %}
            INCLUDERE MENU DEDICATO A ROLE_USER
        {% endif %}

        <!-- Page -->
        {% block body %}{% endblock %}

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
            {% include 'menu/sidebar_admin.html.twig' %}
        {% endif %}

        {% include 'app-footer-import.html.twig' %}
        {% block scripts %}{% endblock %}
    </body>
</html>
