{% extends 'base.html.twig' %}

{% block body %}

    {% for user in users %}
        <li>{{ user.name }}, {{ user.surname }} | <a href="user/view/{{ user.id }}">view</a>  | <a href="user/edit/{{ user.id }}">edit</a> </li>
    {% endfor %}


{% endblock %}