{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <body class="page-login-v3 layout-full">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Page -->
    <div class="page vertical-align text-xs-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
        <div class="page-content vertical-align-middle">
            <div class="panel">
                <div class="panel-body">
                    <div class="brand">
                        <img class="brand-img" src="../../assets//images/logo-dark.png" alt="..." width="200">
                    </div>
                    <form action="{{ path('fos_user_resetting_send_email') }}" method="post" class="fos_user_resetting_request">
                        <div class="form-group form-material floating" data-plugin="formMaterial">
                            <input type="email" id="username" class="form-control" name="username" required="required" data-plugin="formMaterial"/>
                            <label class="floating-label" for="username">Email</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg m-t-40">Forgot password</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page -->

    </body>

{% endblock fos_user_content %}