@import (inline) '../css/bootstrap.min.css';
@import (inline) '../css/bootstrap-extend.min.css';
@import (inline) '../css/site.min.css';
@import (inline) '../skins/cyan.min.css';
@import (inline) '../vendor/asscrollable/asScrollable.css';
@import (inline) '../vendor/switchery/switchery.css';
@import (inline) '../vendor/slidepanel/slidePanel.css';
@import (inline) '../vendor/waves/waves.css';
@import (inline) '../vendor/bootstrap-table/bootstrap-table.css';
@import (inline) '../vendor/bootstrap-datepicker/bootstrap-datepicker.css';
@import (inline) '../vendor/select2/select2.css';
@import (inline) '../css/login-v3.css';
@import (inline) '../vendor/formvalidation/formValidation.css';
@import (inline) '../vendor/bootstrap-sweetalert/sweetalert.css';
@import (inline) '../vendor/fullcalendar/fullcalendar.css';
@import (inline) '../vendor/jquery-selective/jquery-selective.css';


/************ GENERAL *********************************************************/
@primary : #268b9c;

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	text-shadow: none;
}

//MODAL
@media (min-width: 992px) {
	.modal-xl {
		width: 1200px;
		max-width: 1200px;
	}
}

//TABLE
thead {
	text-transform: uppercase;
}
.fixed-table-container .table .icon, .fixed-table-container table .icon {
	margin: 0;
}
.fixed-table-pagination .pagination li.active>a, .fixed-table-pagination .pagination li.active>a:focus, .fixed-table-pagination .pagination li.active>a:hover{
	border-color: @primary;
	background-color: @primary;
}
.bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
	padding: 20px 8px;
}
#UserTable{
	tbody{
		tr{
			td:last-child{
				min-width: 100px;
			}
		}
	}
	.deleted{
		text-decoration: line-through;
	}
}

//FORM
label {
	margin-bottom: 0;
}
.input-group-file{
	margin-bottom: 20px;
}

//SELECT2 MODAL FIX
.select2-container--open {
	z-index: 10003;
}

//LAYOUT
body {
	padding-top: 0;
}
.page-content {
	padding: 0 30px 30px 30px;
}
.page-header{
	margin-left: -16px;
	margin-right: -17px;

	h1, p{
		display: inline;
	}
}
.site-menubar {
	top: 0;
}
.site-menu>.site-menu-item.logo{
	height: 93px;
	line-height: 93px;
	background: @primary;
	a{
		padding: 0;
		cursor: default;
	}
}

/************ NAVBAR *********************************************************/
.site-menubar {
	height: 100%;
}
.site-navbar .navbar-header{
	.navbar-brand {
		width: 140px;
		text-align: center;
	}
	.navbar-brand-logo {
		height: 34px;
	}
}
@media (min-width: 768px) {
	.site-navbar .navbar-container {
		margin-left: 0;
	}
}
ul.nav {
	.icon.md-notifications, .icon.md-account{
		font-size: 30px;
		line-height: 0;
		vertical-align: middle;
	}
	.icon.md-account{
		margin-top: -5px;
	}
}
/************ USER VIEW LIST*********************************************************/

//ENTITY EDIT
.edit-journey, .edit-user, .edit-formOrigin, .edit-clinic, .edit-demOrigin, .edit-presentation, .delete-file{
	position: absolute;
	right: 30px;
}

.edit-journey{
	right: 80px;
}

//ENTITY VIEW
span.heading{
	font-weight: bold;
}
span.content{

}

.panel-body.user-details{
	.row{
		padding: 10px 0;
		border-bottom: 1px solid #e0e0e0;
	}
}

/************ ADD SERVICE*********************************************************/
.h-600{
	height: 600px;
	margin-bottom: 20px;
	.scrollable-content{
		padding-bottom: 140px;
	}
	.panel {
		 margin-bottom: 0;
		 .panel-body {
			 padding-bottom: 0;
		 }
	}
 }

/************ CALENDAR **********************************************************/
.scrollable-container{
	height: 100vh !important;
}

/************ ALERT *************************************************************/
.alert-actions{
	button{
		margin-right: 10px;
	}
}

/************ ERROR *************************************************************/
.page-error .error-mark {
	margin-bottom: 33px;
}

.page-error header h1 {
	font-size: 10em;
	font-weight: 400;
}

.page-error header p {
	margin-bottom: 30px;
	font-size: 30px;
	text-transform: uppercase;
}

.page-error h2 {
	margin-bottom: 30px;
}

.page-error .error-advise {
	margin-bottom: 25px;
	color: #a9afb5;
}