.dashboard .card, .dashboard .panel {
	height: -webkit-calc(100% - 30px);
	height:         calc(100% - 30px);
	margin-bottom: 30px;
}
.dashboard .card-block {
	height: 100%;
	border-radius: 3px;
}
#widgetLineareaOne .ct-chart .ct-area {
	fill-opacity: 1;
}
#widgetLineareaOne .ct-chart .ct-series.ct-series-a .ct-area {
	fill: #7986cb;
}
#widgetLineareaTwo .ct-chart .ct-area {
	fill-opacity: 1;
}
#widgetLineareaTwo .ct-chart .ct-series.ct-series-a .ct-area {
	fill: #ffd54f;
}
#widgetLineareaThree .ct-chart .ct-area {
	fill-opacity: 1;
}
#widgetLineareaThree .ct-chart .ct-series.ct-series-a .ct-area {
	fill: #4dd0e1;
}
#widgetLineareaFour .ct-chart .ct-area {
	fill-opacity: 1;
}
#widgetLineareaFour .ct-chart .ct-series.ct-series-a .ct-area {
	fill: #81c784;
}
#widgetJvmap path {
	fill: #c5cae9;
}
#widgetCurrentChart .ct-chart .ct-series.ct-series-a .ct-bar {
	stroke: #fff;
	stroke-width: 3%;
}
#widgetCurrentChart .ct-chart .ct-series.ct-series-b .ct-bar {
	stroke: rgba(232, 234, 246, .4);
	stroke-width: 3%;
}
#widgetCurrentChart .ct-chart .ct-label {
	font-size: 14px;
	color: #fff;
	fill: #fff;
}
#widgetCurrentChart > div {
	position: relative;
}
#widgetCurrentChart > div .btn-floating {
	position: absolute;
	top: 0;
	right: 20px;
	-webkit-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}
#widgetUserList .card-header .overlay-background {
	background-color: rgba(103, 58, 183, .8);
}
@media (max-width: 479px) {
	#widgetUserList .card-header .avatar {
		width: 80px;
	}
}
#widgetUserList .card-block {
	position: relative;
	height: auto;
}
#widgetUserList .card-block .list-group-item {
	padding-top: 15px;
	padding-bottom: 15px;
}
#widgetUserList .card-block .list-group-item .media-body {
	vertical-align: bottom;
}
#widgetUserList .card-block .list-group-dividered .list-group-item:last-child {
	border-bottom: none;
}
#widgetUserList .card-block .btn-floating {
	position: absolute;
	top: 0;
	right: 20px;
	-webkit-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}
#chat .card-header {
	border-bottom: none;
}
#chat .card-header > * {
	padding: 0 30px;
	margin: 0;
	line-height: 50px;
}
#chat .card-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0 20px;
	margin-bottom: 20px;
	border-top: none;
}
#projects .table > thead > tr > td,
#projects .table > tbody > tr > td,
#projects-status .table > thead > tr > td,
#projects-status .table > tbody > tr > td {
	vertical-align: middle;
}
/************ NAVBAR CSS *********************************************************/
.site-navbar .navbar-header{
	.navbar-brand {
		width: 140px;
		text-align: center;
	}
	.navbar-brand-logo {
		height: 34px;
	}
}
@media (min-width: 768px) {
	.site-navbar .navbar-container {
		margin-left: 0;
	}
}
ul.nav {
	.icon.md-notifications, .icon.md-account{
		font-size: 30px;
		line-height: 0;
		vertical-align: middle;
	}
	.icon.md-account{
		margin-top: -5px;
	}
}
/************ PAGE CSS *********************************************************/

//SELECT2 MODAL FIX
.select2-container--open {
	z-index: 10003;
}

//TABLE
thead {
	text-transform: uppercase;
}

.bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
	padding: 20px 8px;
}

//FORM
label {
	margin-bottom: 0;
}

//ENTITY EDIT
.edit-journey, .edit-user{
	position: absolute;
	right: 30px;
}
.fixed-table-container .table .icon, .fixed-table-container table .icon {
	margin: 0;
}

@primary : #268b9c;

body {
	padding-top: 0;
}

.page-content {
	padding: 0 30px 30px 30px;
}

.page-header{
	margin-left: -16px;
	margin-right: -17px;

	h1, p{
		display: inline;
	}
}

.site-menubar {
	top: 0;
}

.site-menu>.site-menu-item.logo{
	height: 93px;
	line-height: 93px;
	background: @primary;
	a{
		padding: 0;
		cursor: default;
	}
}