@import (inline) '../css/bootstrap.min.css';
@import (inline) '../css/bootstrap-extend.min.css';
@import (inline) '../css/site.min.css';
@import (inline) '../skins/cyan.min.css';
@import (inline) '../vendor/asscrollable/asScrollable.css';
@import (inline) '../vendor/switchery/switchery.css';
@import (inline) '../vendor/slidepanel/slidePanel.css';
@import (inline) '../vendor/waves/waves.css';
@import (inline) '../vendor/bootstrap-table/bootstrap-table.css';
@import (inline) '../vendor/bootstrap-datepicker/bootstrap-datepicker.css';
@import (inline) '../vendor/select2/select2.css';
@import (inline) '../css/login-v3.css';
@import (inline) '../vendor/formvalidation/formValidation.css';
@import (inline) '../vendor/bootstrap-sweetalert/sweetalert.css';
@import (inline) '../vendor/fullcalendar/fullcalendar.css';
@import (inline) '../vendor/jquery-selective/jquery-selective.css';


/************ GENERAL *********************************************************/
@primary : #268b9c;

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	text-shadow: none;
}

//TABLE
thead {
	text-transform: uppercase;
}
.fixed-table-container .table .icon, .fixed-table-container table .icon {
	margin: 0;
}
.fixed-table-pagination .pagination li.active>a, .fixed-table-pagination .pagination li.active>a:focus, .fixed-table-pagination .pagination li.active>a:hover{
	border-color: @primary;
	background-color: @primary;
}
.bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
	padding: 20px 8px;
}
#UserTable{
	tbody{
		tr{
			td:last-child{
				min-width: 100px;
			}
		}
	}
	.deleted{
		text-decoration: line-through;
	}
}

//FORM
label {
	margin-bottom: 0;
}

//SELECT2 MODAL FIX
.select2-container--open {
	z-index: 10003;
}

//LAYOUT
body {
	padding-top: 0;
}
.page-content {
	padding: 0 30px 30px 30px;
}
.page-header{
	margin-left: -16px;
	margin-right: -17px;

	h1, p{
		display: inline;
	}
}
.site-menubar {
	top: 0;
}
.site-menu>.site-menu-item.logo{
	height: 93px;
	line-height: 93px;
	background: @primary;
	a{
		padding: 0;
		cursor: default;
	}
}

/************ NAVBAR *********************************************************/
.site-menubar {
	height: 100%;
}
.site-navbar .navbar-header{
	.navbar-brand {
		width: 140px;
		text-align: center;
	}
	.navbar-brand-logo {
		height: 34px;
	}
}
@media (min-width: 768px) {
	.site-navbar .navbar-container {
		margin-left: 0;
	}
}
ul.nav {
	.icon.md-notifications, .icon.md-account{
		font-size: 30px;
		line-height: 0;
		vertical-align: middle;
	}
	.icon.md-account{
		margin-top: -5px;
	}
}
/************ USER VIEW LIST*********************************************************/

//ENTITY EDIT
.edit-journey, .edit-user, .edit-formOrigin, .edit-clinic, .edit-demOrigin, .edit-presentation, .delete-file{
	position: absolute;
	right: 30px;
}

//ENTITY VIEW
span.heading{
	font-weight: bold;
}
span.content{

}

/************ ADD SERVICE*********************************************************/
.h-600{
	height: 600px;
	margin-bottom: 20px;
	.panel {
		margin-bottom: 0;
		.panel-body {
			padding-bottom: 0;
		}
	}
}

/************ ERROR *************************************************************/
.page-error .error-mark {
	margin-bottom: 33px;
}

.page-error header h1 {
	font-size: 10em;
	font-weight: 400;
}

.page-error header p {
	margin-bottom: 30px;
	font-size: 30px;
	text-transform: uppercase;
}

.page-error h2 {
	margin-bottom: 30px;
}

.page-error .error-advise {
	margin-bottom: 25px;
	color: #a9afb5;
}


/************ FULL CALENDAR *************************************************************/
.fc td.fc-widget-header {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 14px;
	text-transform: uppercase;
	border-width: 0;
}

.fc td.fc-widget-content {
	border-width: 1px 0 0;
}

.fc td.fc-day.fc-widget-content + .fc-widget-content {
	border-left-width: 1px;
}

.fc .fc-row {
	border-width: 0;
}

.fc table > thead > tr > th {
	font-weight: 100;
	border-width: 0;
}

.fc .fc-toolbar h2 {
	display: inline-block;
	font-size: 20px;
	vertical-align: sub;
}

.fc .fc-axis.fc-time {
	text-transform: uppercase;
}

.fc .fc-toolbar {
	position: relative;
}

.fc-button.fc-prev-button, .fc-button.fc-next-button {
	background-color: transparent;
	background-image: none;
	border: 0 solid transparent;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.fc-button.fc-month-button, .fc-button.fc-agendaWeek-button, .fc-button.fc-agendaDay-button {
	height: auto;
	padding: 8px 14px;
	font-size: 14px;
	text-transform: capitalize;
	background-color: #f6f8f8;
	background-image: none;
	border-color: #e0e0e0;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.fc-button.fc-state-active, .fc-button.fc-state-hover {
	background-color: #fff;
}

.fc-unthemed .fc-today {
	background-color: #f4f7f8;
}

.fc-toolbar .fc-right {
	position: absolute;
	top: 0;
	right: 0;
}

.fc-agendaWeek-view .fc-event, .fc-agendaDay-view .fc-event {
	border-radius: 3px;
}

.fc-row.fc-widget-header {
	border-color: transparent;
}

.calendar-container {
	padding: 30px;
	overflow: hidden;
}

.panel-heading {
	padding-top: 10px;
	border-width: 0;
}

.panel-body {
	padding-top: 10px;
}

.page-main {
	background-color: #fff;
}

.calendar-list .list-group-item {
	cursor: pointer;
}

.fc-event {
	background-color: #1e88e5;
	border-color: #1e88e5;
	border-radius: 10px;
}

.fc-day-grid-event .fc-content {
	padding: 2px 10px;
	line-height: 1em;
}

.fc-highlight {
	background: #eee;
}

.bootstrap-touchspin .input-group-btn-vertical i {
	left: 3px;
}

.list-group-item.deleted {
	text-decoration: line-through;
	color: #aaa;
}

@media (max-width: 991px) {
	.fc-toolbar {
		margin-bottom: 60px;
	}

	.fc-toolbar .fc-center {
		white-space: nowrap;
	}

	.fc-toolbar .fc-right {
		top: 50px;
	}

	.fc-button.fc-prev-button {
		padding-left: 0;
	}

	.fc-button.fc-next-button {
		padding-right: 0;
	}
}