{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header page-header-bordered">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Dashboard</a></li>
        </ol>
        <h1 class="page-title">Welcome {{ user.name }} {{ user.surname }}!</h1>
    </div>

{% endblock %}