{% extends 'base.html.twig' %}

{% block scripts %}

<script>
    $( document ).ready(function() {

        var $table = $('#UserTable');

        $table.bootstrapTable();
        $table.bootstrapTable('hideColumn', 'country');
        $table.bootstrapTable('hideColumn', 'presentation');
        $table.bootstrapTable('hideColumn', 'birthDate');
        $table.bootstrapTable('hideColumn', 'address');
        $table.bootstrapTable('hideColumn', 'zipCode');
        $table.bootstrapTable('hideColumn', 'region');
        $table.bootstrapTable('hideColumn', 'taxCode');
        $table.bootstrapTable('hideColumn', 'registrationDate');

        // $(function () {
        //     $('.page-list').find('select').change(function () {
        //         console.log($table.bootstrapTable('getOptions'));
        //     });
        // })

        $table.on('click', '.js-delete-user', function (ev) {
            var $target = $(ev.currentTarget);
            var href = $target.data('href');
            var userName = $target.data('userName');

            swal({
                title: "Are you sure?",
                text: "You will be able to restore user " + userName + " later.",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Yes, delete it!',
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            },
            function() {
                $.ajax({
                    method: 'POST',
                    url: href
                })
                .done(function () {
                    $table.bootstrapTable('refresh');

                    swal({
                        title: "Deleted!",
                        text: "User " + userName + " has been deleted!",
                        type: "success",
                        timer: 2000,
                        showConfirmButton: false,
                        closeOnConfirm: true
                    });
                })
                .fail(function () {
                    swal({
                        title: "Error!",
                        text: "Oops... Something went wrong!",
                        type: "error"
                    });
                });
            });
        });

        $table.on('click', '.js-activate-user', function (ev) {
            var $target = $(ev.currentTarget);
            var href = $target.data('href');
            var userName = $target.data('userName');

            swal({
                title: "Are you sure?",
                text: "You will be able to delete user " + userName + " later.",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Yes, activate it!',
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            },
            function() {
                $.ajax({
                            method: 'POST',
                            url: href
                        })
                        .done(function () {
                            $table.bootstrapTable('refresh');

                            swal({
                                title: "Activated!",
                                text: "User " + userName + " has been activated!",
                                type: "success",
                                timer: 2000,
                                showConfirmButton: false,
                                closeOnConfirm: true
                            });
                        })
                        .fail(function () {
                            swal({
                                title: "Error!",
                                text: "Oops... Something went wrong!",
                                type: "error"
                            });
                        });
            });
        });

    });
</script>

{% endblock %}

{% block body %}

    <div class="page-header page-header-bordered">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">+HC</li>
        </ol>
        <h1 class="page-title">Dashboard</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <!-- Panel Static Labels -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">User List</h3>
                </div>
                <div class="panel-body">
                    <table id="UserTable"
                        data-toggle="table"
                        data-url="{{ path('ajax_bootstrap-table_users') }}"
                        data-toolbar="#get"
                        data-show-export="true"
                        data-export-types="['excel', 'txt', 'csv']"
                        data-cache="false" 
                        data-side-pagination="server"
                        data-pagination="true"
                        data-sort-name="id"
                        data-sort-order="desc"
                        data-search="true"
                        data-show-columns="true"
                        data-classes="table table-no-bordered"
                        data-page-size="50"
                        data-page-list="[50, ALL]">
                        <thead>
                            <tr>
                                <th data-field="id" data-sortable="true">{% trans %}Id{% endtrans %}</th>
                                <th data-field="name" data-sortable="true">{% trans %}Name{% endtrans %}</th>
                                <th data-field="surname" data-sortable="true">{% trans %}Surname{% endtrans %}</th>
                                <th data-field="email">{% trans %}Email{% endtrans %}</th>
                                <th data-field="birthDate" data-sortable="true">{% trans %}Birth date{% endtrans %}</th>
                                <th data-field="phone">{% trans %}Phone{% endtrans %}</th>
                                <th data-field="city">{% trans %}City{% endtrans %}</th>
                                <th data-field="address">{% trans %}Address{% endtrans %}</th>
                                <th data-field="zipCode">{% trans %}Zip code{% endtrans %}</th>
                                <th data-field="country" data-sortable="true">{% trans %}Country{% endtrans %}</th>
                                <th data-field="region">{% trans %}Region{% endtrans %}</th>
                                <th data-field="taxCode">{% trans %}Tax Code{% endtrans %}</th>
                                <th data-field="notes">{% trans %}Notes{% endtrans %}</th>
                                <th data-field="presentation">{% trans %}Presentation{% endtrans %}</th>
                                <th data-field="registrationDate" data-sortable="true">{% trans %}Registration date{% endtrans %}</th>
                                <th data-field="enabled" data-sortable="true" data-align="center">{% trans %}Public{% endtrans %}</th>
                                <th data-field="op" data-align="center"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}