<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <ul class="site-menu" data-plugin="menu">
                <li class="site-menu-item active">
                    <a class="animsition-link" href="{{ path('dashboard') }}">
                        <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                        <span class="site-menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="site-menu-item">
                    <a class="animsition-link" href="{{ path('alert') }}">
                        <i class="site-menu-icon md-notifications" aria-hidden="true"></i>
                        <span class="site-menu-title">Alert</span>
                    </a>
                </li>
                <li class="site-menu-item">
                    <a class="animsition-link" href="/register">
                        <i class="site-menu-icon md-account-add" aria-hidden="true"></i>
                        <span class="site-menu-title">Add user</span>
                    </a>
                </li>
                <li class="site-menu-item">
                    <a class="animsition-link" href="{{ path('serviceAdd') }}">
                        <i class="site-menu-icon md-account-add" aria-hidden="true"></i>
                        <span class="site-menu-title">Add service</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>